<div class="row">
  <div class="col-xs-12">
    <h1>Ask a question</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="message">
  </div>

  <div class="col-xs-12">
      <input type="text" style="width: 50%;" id="question" autofocus>
      <button type="submit" class="btn btn-default" onclick="newQuestion()">Submit</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="answers">
    <div class="row">
      <div class="col-xs-3 text-center">
        <h2># of Yes</h2>
        <h3 id="yes-count"></h3>
      </div>
      <div class="col-xs-3 text-center">
        <h2># of No</h2>
        <h3 id="no-count"></h3>
      </div>
    </div>
  </div>
</div>
